@import "http://fonts.fontstorage.com/import/poppins.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Didact+Gothic&display=swap");

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.malumot{
    background-color: #1E1F29;
    color: #fff;
    padding:1% 5% 1% 3%;
    display: flex;
    font-family: 'poppins';
}

.tel img, .email img, .lakatsiya img{
    margin-right: 7%;
    height: 85%;
}

.tel, .email, .lakatsiya{
    display: flex;
    text-align: center;
    margin-left: 4%;
    transition: 1s;
}

.account{
    display: flex;
    text-align: center;
    margin-left: 67%;
    position: absolute;
    transition: 1s;
}

.account a{
    text-decoration: none;
    color: #fff;
}

.tel:hover, .email:hover, .lakatsiya:hover, .account a:hover{
    color: #d10024;
    transition: all 0.3s ease-in-out 0s;
}

.account img{
    width: 13%;
    margin-right: 7%;
}
.sarlavha, .sarlavha h1{
    display: inline;
    float: inline-end;
    color: white;
}

.sarlavha img{
    width: 2%;
}

.regis{
    margin: -0.45% 0 0 25%;
    border: 1px solid #d10024;
    border-radius: 20px;
    padding: 0.5% 1%;
    font-size: 80%;
    font-weight: 500;
    font-family: 'poppins';
    transition: 1.5s;
}

.regis a{
    text-decoration: none;
    color: #fff; 
}

.regis hr{
    display: inline;
    margin: 0 2px;
    border: white 1px solid;
}

.regis a:hover{
    color: #d10024;
}

.poisk{
        background-color: #15161d;
        padding: 1% 0% 1% 0%;
        font-family: 'poppins';
        position: sticky;
        top: 0px;
        text-align: center;
}

.rasm{
    width: 1.8%;
    margin-left: 0.5%;
}

.text{
    padding: 0.5% 10% 0.5% 5%;
    border-radius: 25px 1px 1px 25px;
    font-family: 'poppins';
    font-size: 100%;
    border: solid #d10024 1.5px;
}
.button{
    border-radius: 1px 25px 25px 1px;
    border: solid #d10024 1.5px;
    background-color: white;
    margin-left: -0.35%;
    padding: 0.5% 2% 0.5% 1.5%;
    color: rgb(116, 112, 112);
    font-family: "poppins";
    transition: 1s;
}

.sozlar{
    display: inline;
    margin: 0% 15% 0% 15%;
}
.button:hover{
    background-color: #d10024;
    color: white;
}

#navigation {
    border-top: 3px solid #d10024;
}

.tavarbox{
    border: solid 1px white ;
    box-shadow: 2px 2px 10px #242531;
    text-align: center;
    align-items: center;
    margin: 0.5%;
    border-radius: 20px;
    text-align: center;
    width: 30%;
}

.tavarbox p{
    transition: 1s;
    box-shadow: 1px 1px 5px #242531;
    color: #242531;
    border-radius: 20px 0px 10px 0px;
    border-left: none;
    border-top: none;
    padding: 2% 5% 0% 5%;
    display: inline;
    font-size: 80%;
    margin: 0% 0 0 -0.5%;
    font-weight: 600;
}
.tavarasm{
    width: 75%;
}
.tavarasm1{
    width: 95%;
}
.tavarasm2{
    width: 90%;
}
.tavarasm3{
    width: 74%;
}
.qator, .qator_2{
    display: flex;
    max-width: 70%;
    margin: 1% 10% 1% 10%;
}
.bosh{
    display: flex;
    justify-content: space-between;
}
.sot input{

    border: none;
    box-shadow: 1px 1px 5px #242531;
    padding: 3% 5%;
    border-radius: 10px;
    color: #242531;
    font-family: 'poppins';
    margin: 2%;
}
@media screen and (max-width:600px) {
    
    .qator,.qator_2,.umumiy{
        display: none;
    }
    .malumot{

        display: none;
    }
    .tavarasm3 {
        width: 100%;
    }
    .tavarbox{
        width: 60%;
        margin: 5%;
    }
}

footer{
    background: #15161D;
    color: #B9BABC;
    font-family: 'poppins';
}

p{
    font-size: 110%;
}
.footermenu{
    margin-top: 3%;
    max-width: 100%;
    justify-content: space-evenly;
    display: inline;
    display: flex;
    line-height: 300%;
}
.footermenu p{
    transition: 1s;
}
.footermenu p:hover{
    color: #d10024;
}
.footermenu h2{
    color: white;
}
.ABOUT, .CATEGORIES, .INFORMATION, .SERVICE{
    max-width: 25%;
}

.f_lakatsiya, .f_tel, .f_email {
    display: flex;
    align-items: center;
    font-weight: 500;
}

body
{
    font-size: 16px;
    color: #292929;
    line-height: 1.7em;
    font-weight: 400;
    background: #f0f0f062;
    font-family: "Didact Gothic", sans-serif;
    
}

.section-bg {
    padding: 60px 0;
    background: #f0f0f06b;
}

.section-title {
    margin-bottom: 25px;
}

.section-title h2 {
    position: relative;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    text-transform: capitalize;
    display: inline-block;
    font-family: "Didact Gothic", sans-serif;
}

.single-product {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 0.5),
     inset -2px -2px 12px rgba(255, 255, 255, 0.288),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
       inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 50px;
}

.single-product .product-thumb {
    margin-bottom: 20px;
}

.single-product .product-title {
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

.single-product .product-title h3 {
    font-family: "Didact Gothic", sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.single-product .product-title h3 a {
    color: #292929;
    text-decoration: none;
}

.single-product .product-title h3 a:hover {
    color: #7289ab;
}

.single-product:hover {
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.37),
     -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
       2px 2px 8px rgba(0, 0, 0, 0.15);
}

.product-btns
{
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    color: #292929;
}

.btn-small {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 32px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 0.384),
     inset -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
       inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.btn-round {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.411), 
    -2px -2px 12px rgba(255, 255, 255, 0.5), 
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
     2px 2px 8px rgba(0, 0, 0, 0.15);
}

.btn-small:hover {
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.384),
     -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
       2px 2px 8px rgba(0, 0, 0, 0.15);
    color: #7289ab;
    text-decoration: none;
}

.btn-small:hover span {
    display: inline-block;
    transform: scale(0.98);
}

.btn-round:hover {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 0.438),
     inset -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
       inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    color: #7289ab;
}

.button-center{
    justify-content: center;
    text-align: center;
}

.bttn-def {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 42px;
    border-radius: 50px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.445), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.bttn-def:hover {
    color: #7289ab;
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 0.397), inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.bttn-def:hover span {
    display: inline-block;
    transform: scale(0.98);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 98vw;
}


#apple,

  #twitter,

  #github,

  #facebook {
    font-size: 5em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}

#twitter {
    animation-delay: 0.8s;
}

  #facebook {
    animation-delay: 1s;
}

  #github {

    animation-delay: 0.5s;

}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }

}

@media screen and (max-width:400px) {
     header{
        background-color: #1E1F29;
    }
    .regis{
        margin: -0.45% 0 0 -36%;
    }

    .tel img, .email img, .lakatsiya img{
        margin-right: 5%;
        height: 40%;
    }
}
