
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #15161d;
    line-height: 22px;
}
a h1{
    color: #fff;
    align-items: center;
    display: inherit;
    margin: 26% 11%;
}
.green{
    color: #d10024 ;
}

.wrapper{
    display: flex;
}

.wrapper_content{
    width: 50%;
    height: auto;
    padding: 15px;
    margin: 50px 0;
    position: relative;
    margin-left: 50px;
}

.wrapper_amount{
    width: 50%;
    height: auto;
    padding: 15px;
    margin: 50px 0;
    position: relative;
    margin-right: 50px;
}

.header_title{
    display: flex;
    justify-content: space-between;
    width: 560px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
}

.product_wrap,.price_details{
    width: 560px;
    margin: 0 auto;
    background-color: #1E1F29;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 38px;
}

.product_info{
    display: flex;
    align-items: center;
}

.product_data{
    margin: 0 10px;
}

.description{
    margin-bottom: 15px;
}
.product_img img{
    display: block;
    border-radius: 25px;
}

.main_header{
    font-weight: 700;
}

.sub_header{
    color: #e4e4e4;
}

.product_btns{
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #d10024;
    color:  #e4e4e4;
}

.product_btns > div{
    padding : 5px 15px;
    cursor: pointer;
    
   
}

.product_btns > div:hover{
    background-color:  #d10024;
    border-radius: 38px ;
    color: rgb(253, 253, 253);
    font-weight: 700;
}
.price_details{
    color: rgb(253, 253, 253);
}

.remove{
    border-right: 1px solid #d10024;
    width: 40%;
    
}

.whishlist{
    width: 60%;
}

.qty , .price{
    display: flex;
    margin-bottom: 10px;
}
.qty  > div {
    background-color: #15161d;
    margin-right: 10px;
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 38px;
    padding-right: 25px;
    position: relative;
    cursor: pointer;
}
.size_select{
    color: #d10024;
}
.qty_select{
    color: #d10024;
}

.qty  > div::before{
    content: "";
    top:13px;
    right: 8px;
    position: absolute;
    border: 5px solid;
    border-color: #000 transparent transparent transparent;
}

.current_price{
    font-weight: 700;
    margin-right: 10px;
}

.normal_price{
    color: #e4e4e4;
    margin-right: 10px;
    text-decoration: line-through;
}

.discount{
    color:  #d10024;
}

.wrapper_amount{
    width: 50%;
    
}

.price_details .item,.total,.coupon{
    display: flex;
    justify-content: space-between;
}

.price_details .item{
    margin-bottom: 10px;
}

.price_details .coupon{
    margin-top: 20px;
}

.price_details .total{
    padding-top: 10px;
    border-top: 1px solid #d10024 ;
    font-weight: 700;
    margin-top: 20px;
}

.price_details .coupon a{
    color:  #e4e4e4;
    background-color: #d10024;
    padding: 10px 15px;
    border-radius: 5px;
}

.price_details .coupon a:hover{
    font-weight: 700;
}

.slider.active{
    display: block;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.slider .bg_shadow{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
}

.slider .select_size,.select_quantity{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
}

.slider .header{
    padding:10px 15px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.close{
    cursor: pointer;
}

.button{
    background-color:  #d10024;
    color: fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.slider_title{
    color: #d10024;
}
.close{
color: #d10024;
}
.bg_shadow{
    background-color: #15161d;
}
.body ul{
    display: flex;
    padding: 10px 15px 15px;
}

.body ul li{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-right:10px ;
    cursor: pointer;
}

.body ul li:hover,.body ul li.active{
    border-color:  #d10024;
    
    color:  #d10024;
}

.checkout{
    padding: 10px 15px;
    background-color:  #d10024;
    width: 560px;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.checkout_btn{
    color: #fff;
    width: 100%;
    display: block;
}

.cart_navigation{
    background-color: #1E1F29;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.cart_logo{
    padding: 10px;
    margin: 1px 10px;
    margin-right: 110px;
}

.cart_logo i{
    font-size: 50px;
   color: #d10024;
}

.middle_content{
    font-weight: 700;
    letter-spacing: 3px;
    margin: auto;
    display: flex;
}

.bag{
    color:  #d10024;
   
}

.secure{
    display: flex;
    margin: auto 0;
    font-weight: 700;
    margin-right: 10px;
}

.secure i{
    font-size: 35px;
    color:  #d10024;
}
/* .{
    color: #d10024;
} */
.address{
    color: rgb(253, 253, 253);
}
.payment{
    color: rgb(253, 253, 253);
}
.secure p{
    margin: auto 5px;
    color: rgb(253, 253, 253);
}
.title{
    color: rgb(253, 253, 253);
}
.amount{
    color: rgb(253, 253, 253);
}
.main_header{
    color: rgb(253, 253, 253);
}
.price{
    color: rgb(253, 253, 253);
}
@media screen and (max-width:1100px) {
    .wrapper{
        flex-direction: column;
    }

    .wrapper_amount{
        margin: -20px 50px;
    }

    .slider{
        width: 173%;
    }
    
    .bag{
        display: none;
    }

    .payment{
        display: none;
    }

    .address{
        display: none;
    }
    
    
}   